<%= form_with(model: mining_type, local: true) do |form| %>
  <% if mining_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mining_type.errors.count, "error") %> prohibited this mining_type from being saved:</h2>

      <ul>
        <% mining_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group row">
      <%= form.label :acronym, class:"col-sm-2 col-form-label", for: "acronym"%>
      <div class="col-sm-1">
        <%= form.text_field :acronym, class: "form-control", id:"acronym", placeholder: "Sigla"%>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :description, class:"col-sm-2 col-form-label", for: "description"%>
      <div class="col-sm-2">
        <%= form.text_field :description, class: "form-control", id:"description", placeholder: "Descrição"%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
       <%= form.submit%>
      </div>
    </div>
  </form>

<% end %>
