<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group row">
      <%= form.label :acronym, class:"col-sm-2 col-form-label", for: "acronym"%>
      <div class="col-sm-1">
        <%= form.text_field :acronym, class: "form-control", id:"acronym", placeholder: "Sigla"%>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :description, class:"col-sm-2 col-form-label", for: "description"%>
      <div class="col-sm-2">
        <%= form.text_field :description, class: "form-control", id:"description", placeholder: "Descrição"%>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :url_image, class:"col-sm-2 col-form-label", for: "url_image"%>
      <div class="col-sm-2">
        <%= form.text_field :url_image, class: "form-control", id:"description", placeholder: "URL da imagem"%>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :mining_type_id, class:"col-sm-2 col-form-label", for: "url_image"%>
      <div class="col-sm-2">
        <%= form.select "mining_type_id", @mining_type_options, {include_blank: "Selecione...."}, class: "form-control", id:"description", placeholder: "url_image"%>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <%= form.submit%>
      </div>
    </div>
  </form>
<% end %>
